@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Desicription of Tecent Movie Review</h3>

<p>Welcome to Tecent Movie Review. This is a <b>paradise</b> for movie fance to find out more valuable movies!!<br/>This is a <b>compass</b> direct you to valuable movies!!</p>
