@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    De Montfort University<br />
    The Gateway, Leicester<br />
    PostCode: LE1 9BH<br/>
    <abbr title="Phone">P:</abbr>
    07526913276
</address>

<address>
    <strong>Design:</strong>   <a href="mailto:Design@example.com">Design@example.com</a><br />
    <strong>Develop:</strong> <a href="mailto:Develop@example.com">Develop@example.com</a>
</address>